.cardsList {
    max-width: 560px;
    background-color: #FFF;
}

.cardsList .cardsOptions {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
   max-width: 560px;
}

.cardsList .cardsOptions p {
    font-size: 16px;
    font-weight: 700;
}

.cardsList .filterButtons {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsList .filterButtons button {
    background-color: #E9ECEF;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: #868E96;
    width: 95px;
    height: 48px;
}

.cardsList .filterButtons .pinkBg {
    color: #FFF;
    background-color: #FD377E;
}

.cardsList .pLoading {
    color: #868E96;
    margin-bottom: 27px;
    text-align: start;
}

@media (max-width: 1000px) {

    .cardsList .cardsOptions {
        width: 100%;
    }

    .cardsList .cardsOptions p {
        font-size: 14px;
    }

    .cardsList .filterButtons {
        max-width: 200px;
        padding-right: 25px;
    }

}